In [1]:
import numpy as np
import pandas as pd

import datetime

In [2]:
! ls data

chapter-93-state-numbers-daily-7-28-2022.xlsx
~$chapter-93-state-numbers-daily-7-28-2022.xlsx

In [15]:
df = pd.read_excel('data/chapter-93-state-numbers-daily-7-28-2022.xlsx', sheet_name=None)

In [4]:
df.keys()

dict_keys(['Notes', 'Tested_24hours', 'Tested_2020', 'Tested_2021', 'Pos_Last24', 'Pos_2020', 'Pos_2021', 'Died_last24', 'Died_2020', 'Died_2021'])

In [5]:
df['Notes']

,"Tested_24hours, Tested_2020, Post_Last24, Pos_2020, Pos_2021","Testing data aggregate all molecular, antigen, and serologic test results reported to the Department on the indicated date. An individual with results from multiple test types on the same day is only counted once in the daily counts for that day."
0,"Died_last24, Died_2020, Died_2021",The total number of deaths may differ from tho...
1,Date*,Dates marked with an asterix include all data ...
2,Died_last24,"As of 7/19/2021, cases reported as died on Fri..."

In [6]:
df['Notes'].iloc[0,1]

'The total number of deaths may differ from those reported on the COVID-19 dashboard on a given day due to ongoing data cleaning efforts and newly reported laboratory information. This can happen because: previously reported probable deaths may be confirmed as additional information is reported and these deaths are not newly reported and are not included; or because duplicate data entries are identified and removed.'

In [7]:
df['Notes'].iloc[2,1]

'As of 7/19/2021, cases reported as died on Friday will be included in Monday reporting. Cases reported as died on Saturday, Sunday, or Monday will be part of Tuesday reporting.'

In [8]:
df['Tested_24hours'].index = df['Tested_24hours']['Unnamed: 0']

In [9]:
df['Tested_24hours'].iloc[:, -10:]

,2022-07-14 00:00:00,2022-07-15 00:00:00,7/18/2022*,2022-07-19 00:00:00,2022-07-20 00:00:00,2022-07-21 00:00:00,2022-07-22 00:00:00,7/25/2022*,2022-07-26 00:00:00,2022-07-27 00:00:00
Unnamed: 0,,,,,,,,,,
Total Number,27908,27478,47543,17514,24182,28875,25655,48393,18096,24103
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Male,11434,10826,19232,7631,10143,11509,10269,19851,7844,10145
Female,16169,16297,27898,9695,13668,16767,15077,28094,9968,13609
...,...,...,...,...,...,...,...,...,...,...
Teacher Assistant,0,0,<5,0,<5,0,0,<5,<5,0
"Transportation and material moving occupations (e.g., bus driver, taxi driver, truck driver, pilot)",<5,<5,<5,0,0,<5,<5,<5,0,<5
Unemployed,9,10,25,5,16,14,8,15,<5,12
Unknown,7,7,15,5,8,<5,<5,18,<5,<5
Missing,27784,27330,47294,17453,24069,28749,25542,48091,18026,23986

In [16]:
varDict = {'Tested': 'Tested_24hours', 'Positive':'Pos_Last24', 'Died':'Died_last24'}

In [17]:
def getDate(varKey, colIndex):
    date = df[varDict[varKey]].columns[colIndex]
    if isinstance(date, datetime.datetime):
        return(str(date)[:10])
    elif isinstance(date, str):
        return(str(datetime.datetime.strptime(date[:-1], "%m/%d/%Y"))[:10])
    else:
        return f'Date parsing error for {varKey}'

In [18]:
printDict = {}
for varKey in varDict.keys():
    todayData = df[varDict[varKey]].iloc[0,-1]
    todayDate = getDate(varKey, -1)
    lastWeekData = df[varDict[varKey]].iloc[0,-6]
    lastWeekDate = getDate(varKey, -6)
    
    printDict[varKey] = [todayDate, todayData, lastWeekDate, lastWeekData]

In [19]:
redditText = f"""
**Daily MA Covid Numbers reported on {printDict['Tested'][0]}:**
Individuals who tested positive: {printDict['Positive'][1]} ({printDict['Positive'][0]})
Data from 7d prior for reference: {printDict['Positive'][3]} ({printDict['Positive'][2]})

Total individuals who tested: {printDict['Tested'][1]} ({printDict['Tested'][0]})
Data from 7d prior for reference: {printDict['Tested'][3]} ({printDict['Tested'][2]})

Deaths: {printDict['Died'][1]} ({printDict['Died'][0]})
Data from 7d prior for reference: {printDict['Died'][3]} ({printDict['Died'][2]})


Data is drawn from the https://www.mass.gov/info-details/covid-19-response-reporting Chapter93 State Numbers Daily Report file. This data is still being reported daily by Mass.gov.

The test counts (total and positive only) include all test types that are reported that day. An individual who takes multiple tests of different types in one day is only counted once.
The death counts can differ from the dashboard since the death counts reported here are not finalized (dashboard numbers are finalized). Deaths which are reported on Friday are rolled into Monday's reported numbers. Deaths reported from Saturday, Sunday, and Monday are rolled into Tuesday's reported numbers.

Because of these peculiarities in reporting, I only show the data from 7d prior as a reference point. I defer graphical representation of COVID data to oldgrimalkin's beautiful visualizations.
"""

In [20]:
printDict

{'Tested': ['2022-07-27', 24103, '2022-07-20', 24182],
 'Positive': ['2022-07-27', 2124, '2022-07-20', 2090],
 'Died': ['2022-07-27', 8, '2022-07-20', 12]}