In [144]:
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'praw'

In [4]:
df = pd.read_excel('covid-19-raw-data-7-21-2022.xlsx', sheet_name=None)

In [10]:
for item in df.keys():
    print(item)

Data Documentation
Weekly_Town_Reference
Age Means Last2Weeks
AgeLast2Weeks
Cases (Report Date)
CasesbyAge
CasesByDate (Test Date)
CasesByDate_Probable
CountyCasesDeaths (Report Date)
County_Weekly
CountyDeaths
DateofDeath
DeathsReported (Report Date)
DeathCharacteristics
HigherEd_CasesandTests
HospBed-Hospital COVID Census
HospBedAvailable-Regional
New Hospital Demographic Data
Hospitalization from Hospitals
LTC Facilities
RaceEthnicityLast2Weeks
SexLast2Weeks
Testing2 (Report Date)
TestingByDate (Test Date)
TestingPosByAge
Weekly_City_Town
Weekly_Statewide
Clusters
Isolation and Quarantine
Contact Tracing
CTC workforce
Counts by Specimen Date (Sero)

### Cases

In [62]:
df['Cases (Report Date)'].drop(axis=1, labels='Estimated active cases')

          Date  Positive Total  Positive New  Probable Total  Probable New
0   2020-06-01           97291           326             NaN           NaN
1   2020-06-02           97539           248             NaN           NaN
2   2020-06-03           97964           425             NaN           NaN
3   2020-06-04           98376           412             NaN           NaN
4   2020-06-05           98796           420             NaN           NaN
..         ...             ...           ...             ...           ...
642 2022-07-06         1772542          1115        159804.0         202.0
643 2022-07-07         1774241          1699        160143.0         339.0
644 2022-07-08         1776091          1850        160356.0         213.0
645 2022-07-14         1783187          7096        161132.0         776.0
646 2022-07-21         1793437         10250        162407.0        1275.0

[647 rows x 5 columns]

In [65]:
casesDf = df['Cases (Report Date)'].drop(axis=1, labels='Estimated active cases')

In [66]:
casesDf.dropna(inplace=True)

In [69]:
casesDf.iloc[-1,:]

Date              2022-07-21 00:00:00
Positive Total                1793437
Positive New                    10250
Probable Total               162407.0
Probable New                   1275.0
Name: 646, dtype: object

In [70]:
casesRow = casesDf.iloc[-1,:]

In [72]:
casesDate = str(casesRow['Date'])[:10]

In [73]:
casesDate

'2022-07-21'

In [75]:
cases = casesRow['Positive New']

In [76]:
cases

10250

In [45]:
casesDate = str(df['Cases (Report Date)']['Date'].to_list()[-1])[:10]

In [46]:
print(casesDate)

2022-07-21

In [47]:
cases = df['Cases (Report Date)']['Positive New'].values[-1]

In [48]:
cases

10250

### Positivity

In [79]:
posDf = df['Weekly_Statewide'].dropna()

In [81]:
posRow = posDf.iloc[-1, :]

In [84]:
positivity = posRow['Percent Positivity'] * 100

In [88]:
positivity

0.07938202647066536

In [86]:
# 14d collection ending on stated date but is reported only by the current date
positivityDate = str(posRow['End Date'])[:10]

In [87]:
positivityDate

'2022-07-16'

In [36]:
positivity = df['Weekly_Statewide']['Percent Positivity'].values[-1]

In [38]:
positivity*100

7.938202647066536

In [49]:
# 14d collection ending on stated date but is reported only by the current date
positivityDate = str(df['Weekly_Statewide']['End Date'].values[-1])[:10]

In [50]:
positivityDate

'2022-07-16'

### Deaths

In [51]:
df['DeathsReported (Report Date)']

          Date  DeathsConfTotal  DeathsConfNew  DeathsProbTotal  DeathsProbNew
0   2020-06-01             6894             48              NaN            NaN
1   2020-06-02             6944             50              NaN            NaN
2   2020-06-03             7012             68              NaN            NaN
3   2020-06-04             7062             50              NaN            NaN
4   2020-06-05             7097             35              NaN            NaN
..         ...              ...            ...              ...            ...
642 2022-07-06            19750             18           1246.0            8.0
643 2022-07-07            19768             18           1246.0            0.0
644 2022-07-08            19787             19           1248.0            2.0
645 2022-07-14            19818             31           1250.0            2.0
646 2022-07-21            19860             42           1267.0           17.0

[647 rows x 5 columns]

In [92]:
deathsDf = df['DeathsReported (Report Date)'].dropna()

In [93]:
deathsRow = deathsDf.iloc[-1,:]

In [103]:
deathsRow

Date               2022-07-21 00:00:00
DeathsConfTotal                  19860
DeathsConfNew                       42
DeathsProbTotal                 1267.0
DeathsProbNew                     17.0
Name: 646, dtype: object

In [94]:
deaths = deathsRow['DeathsConfNew']

In [96]:
deaths

42

In [106]:
deathsDate = str(deathsRow['Date'])[:10]

In [107]:
deathsDate

'2022-07-21'

In [44]:
deathsDate = str(df['DeathsReported (Report Date)']['Date'].to_list()[-1])[:10]

In [33]:
deaths = df['DeathsReported (Report Date)']['DeathsConfNew'].to_list()[-1]

In [34]:
deaths

42

### Hospitalizations

In [111]:
df['Hospitalization from Hospitals']

,Date,Total number of COVID patients in hospital today,Net new number of COVID patients in hospital today,7 day average of COVID hospitalizations,ICU,Net New number ICU,Intubated,Net New number intubated,Vaccinated COVID Hospitalizations,Hospitalized primarily due to COVID-19 related illness,New COVID-19 hospitalizations
0,2020-04-04,1370.0,NaN,NaN,438.0,242.0,NaN,NaN,NaN,NaN,NaN
1,2020-04-05,1632.0,262.0,NaN,526.0,88.0,NaN,NaN,NaN,NaN,NaN
2,2020-04-06,1677.0,45.0,NaN,542.0,16.0,NaN,NaN,NaN,NaN,NaN
3,2020-04-07,1831.0,154.0,NaN,575.0,33.0,NaN,NaN,NaN,NaN,NaN
4,2020-04-08,2119.0,288.0,NaN,659.0,84.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2595,NaT,NaN,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN
2596,NaT,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2597,NaT,NaN,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN
2598,NaT,NaN,NaN,NaN,103.0,NaN,NaN,NaN,NaN,NaN,NaN
2599,NaT,NaN,NaN,NaN,873.0,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
hospDf = df['Hospitalization from Hospitals'].dropna()

In [110]:
hospDf

,Date,Total number of COVID patients in hospital today,Net new number of COVID patients in hospital today,7 day average of COVID hospitalizations,ICU,Net New number ICU,Intubated,Net New number intubated,Vaccinated COVID Hospitalizations,Hospitalized primarily due to COVID-19 related illness,New COVID-19 hospitalizations
646,2022-01-10,2970.0,47.0,2732.000000,452.0,20.0,270.0,-3.0,1348.0,1298.0,400.0
647,2022-01-11,3087.0,117.0,2826.428571,473.0,21.0,271.0,1.0,1452.0,1588.0,463.0
648,2022-01-12,3180.0,93.0,2920.142857,484.0,11.0,278.0,7.0,1505.0,1618.0,440.0
649,2022-01-13,3223.0,43.0,3003.857143,460.0,-24.0,279.0,1.0,1547.0,1674.0,464.0
650,2022-01-14,3306.0,83.0,3082.285714,470.0,10.0,295.0,16.0,1550.0,1677.0,482.0
...,...,...,...,...,...,...,...,...,...,...,...
832,2022-07-15,550.0,7.0,529.142857,51.0,8.0,17.0,1.0,337.0,165.0,128.0
833,2022-07-16,538.0,-12.0,538.000000,58.0,7.0,19.0,2.0,319.0,163.0,100.0
834,2022-07-17,545.0,7.0,544.571429,56.0,-2.0,20.0,1.0,324.0,171.0,105.0
835,2022-07-18,579.0,34.0,551.714286,59.0,3.0,24.0,4.0,342.0,178.0,98.0
836,2022-07-19,589.0,10.0,557.000000,52.0,-7.0,20.0,-4.0,348.0,189.0,121.0

In [117]:
newHosp = hospDf.iloc[-1,:]

In [141]:
newHosp

Date                                                      2022-07-19 00:00:00
Total number of COVID patients in hospital today                        589.0
Net new number of COVID patients in hospital today                       10.0
7 day average of COVID hospitalizations                                 557.0
ICU                                                                      52.0
Net New number ICU                                                       -7.0
Intubated                                                                20.0
Net New number intubated                                                 -4.0
Vaccinated COVID Hospitalizations                                       348.0
Hospitalized primarily due to COVID-19 related illness                  189.0
New COVID-19 hospitalizations                                           121.0
Name: 836, dtype: object

In [142]:
newHosp['Total number of COVID patients in hospital today']

589.0

In [119]:
newHosp['Net new number of COVID patients in hospital today']

10.0

In [122]:
newHosp['Hospitalized primarily due to COVID-19 related illness']

189.0

In [59]:
hospitalPatients = df['Hospitalization from Hospitals']['Net new number of COVID patients in hospital today'].dropna().values[-1]

In [60]:
covidHospital = df['Hospitalization from Hospitals']['Hospitalized primarily due to COVID-19 related illness'].dropna().values[-1]

In [126]:
def createLastRow(df):
    lastRow = df.dropna().iloc[-1]
    return lastRow

In [127]:
def getDate(row, dateCol):
    return str(row[dateCol])[:10]

In [130]:
testRow = createLastRow(df['Hospitalization from Hospitals'])

In [131]:
getDate(testRow, 'Date')

'2022-07-19'

In [139]:
def getDate(row, *args):
    if args:
        return str(row[args[1]])[:10]
    else:
        return str(row['Date'])[:10]

In [140]:
getDate(testRow)

'2022-07-19'

In [ ]:
cred = 'client_secrets.json'
with open(cred) as f:
    creds = json.load(f)

reddit = praw.Reddit(
    client_id = creds['client_id'],
    client_secret=creds['client_secret'],
    user_agent=creds['user_agent'],
    redirect_uri=creds['redirect_uri'],
    refresh_token=creds['refresh_token']
    )